pkgbase = aed-bin
	pkgdesc = Interactive disk space analyzer for terminal (TUI)
	pkgver = 0.1.5
	pkgrel = 1
	url = https://github.com/Quirky1869/aed
	arch = x86_64
	license = MIT
	provides = aed
	conflicts = aed
	source = aed-0.1.5::https://github.com/Quirky1869/aed/releases/download/v0.1.5/aed
	sha256sums = 2d5f76e3f439311d7803367f377b0741853436bd92e6a4f9fa7753d9f1932693

pkgname = aed-bin
